.about-page {
    background-color: black;
    color: #33FF33;
    font-family: 'Consolas', 'Courier New', Courier, monospace; 
    height: max-content;
    display: flex;
    flex-direction: column;

}

.about-container {

    margin-inline: auto;

    flex-direction: column;
    justify-content: center;

    box-shadow: 0 0 10px rgba(51, 255, 51, 0.5);
}
.gradient-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.gradient-containera::before, 
.gradient-containera::after {
    content: "";
    position: absolute;
    pointer-events:none;
    top: 0;
    left: 0;
   
    right: 0;
    bottom: 0;
    min-height:120%;

    z-index: 0; /* Keep the waves behind the content */


    /* Adjusted CSS gradients for more prominent waves */
    background: repeating-linear-gradient(
        -155deg,
        rgba(11, 66, 11, 0.2), /* Adjust the color and opacity */
        rgba(27, 142, 27, 0.2) 25px,
        
   
        transparent 90px
    );
    background-repeat:repeat-x

}

.gradient-containera::after {
    top: 25px; /* Offset to create the wave effect */
    background-position: 20px 10px;
}

.about-container h2 {
    border-bottom: 1px solid #33FF33;
    padding-bottom: 10px;
    margin-bottom: 20px;
}
.current-role-section a {
    color: #00FF00; /* Classic green color to match your theme */
    text-decoration: none; /* Remove the underline */
    border-bottom: 1px dashed #00FF00; /* A subtle bottom border to indicate it's a link */
    transition: color 0.3s, border-bottom 0.3s; /* Smooth transition for hover effects */
}

.current-role-section a:hover {
    color: #4CAF50; /* Slightly lighter green for hover effect */
    border-bottom: 1px solid #4CAF50; /* Make the bottom border solid on hover */
}
.about-container p {
    margin: 20px 0;
}
section {
    border: 1px solid #33FF33;
    padding: 10px 10px;
    box-shadow: 0 0 10px rgba(51, 255, 51, 0.5); /* Optional: A little glow effect */
    margin-bottom: 40px; /* Spacing between sections */
}

section h3 {
    border-bottom: 2px solid #33FF33;
    margin-bottom: 15px;
    padding-bottom: 10px;
}

section p {
    margin: 20px 0;
    line-height: 1.6; /* Improved readability */
}


/* Mobile Styles */
@media all and (max-width:850px) {
    section {
        border: 1px solid #33FF33;
        padding: 10px;
        box-shadow: 0 0 10px rgba(51, 255, 51, 0.5); /* Optional: A little glow effect */
        margin-bottom: 40px; /* Spacing between sections */
    }
  .gradient-containera {

margin-inline:auto;

overflow-y:hidden;
overflow-x:hidden;
  }
  .about-page {
    display:block;
    height:auto;
  };
  .about-container {
height:auto;
display:inline-block;

  };
  .gradient-containera::before, 
  .gradient-containera::after {
      content: "";
      position: absolute;
      pointer-events:none;
      top: 0;
      left: 0;
     
      right: 0;
      bottom: 0;
 
  
      z-index: 0; /* Keep the waves behind the content */
  
  
      /* Adjusted CSS gradients for more prominent waves */
      background: repeating-linear-gradient(
          -155deg,
          rgba(11, 66, 11, 0.2), /* Adjust the color and opacity */
          rgba(27, 142, 27, 0.2) 25px,
          
     
          transparent 90px
      );
      
  }




}