.about-page {
    background-color: black;
    color: #33FF33; /* Terminal green color */
    font-family: 'Consolas', 'Courier New', Courier, monospace; /* Terminal-like font */
    height: 100%;
    width:100%;
    display: flex;
    flex-direction: column;

    justify-content: space-between; /* This will ensure navbar at top and footer at bottom */
    
}
body {
    padding: 0;
    margin: 0 auto;
overflow-x:hidden;
    


}
.about-container {
    width: 100%; 
    max-width: 800px;
    flex: 1; /* Makes sure it takes all available space between navbar and footer */
    display: flex;
margin-inline:auto;
    flex-direction: column;
    gap: 20px; /* Provides consistent spacing between sections */
}

.about-container h2 {
    border-bottom: 1px solid #33FF33;
    padding-bottom: 10px;
    margin-bottom: 20px;
}
.current-role-section a {
    color: #00FF00; /* Classic green color to match your theme */
    text-decoration: none; /* Remove the underline */
    border-bottom: 1px dashed #00FF00; /* A subtle bottom border to indicate it's a link */
    transition: color 0.3s, border-bottom 0.3s; /* Smooth transition for hover effects */
}

.current-role-section a:hover {
    color: #4CAF50; /* Slightly lighter green for hover effect */
    border-bottom: 1px solid #4CAF50; /* Make the bottom border solid on hover */
}
.about-container p {
    margin: 20px 0;
}
section {
    border: 1px solid #33FF33;
    padding: 20px;
    box-shadow: 0 0 10px rgba(51, 255, 51, 0.5); /* Optional: A little glow effect */
    margin-bottom: 40px; /* Spacing between sections */
}

section h3 {
    border-bottom: 2px solid #33FF33;
    margin-bottom: 15px;
    padding-bottom: 10px;
}

section p {
    margin: 20px 0;
    line-height: 1.6; /* Improved readability */
}


/* Mobile Styles */
