.footer {
  display: absolute;

  justify-content: space-between;
  align-items: center;
  padding: 10px 20px; /* Adjust as needed */
  background-color: black;
  color: #33FF33; /* Terminal green color */

  border-top:1px solid lightgreen;
  font-family: 'Consolas', 'Courier New', Courier, monospace; /* Terminal-like font */
  z-index:99;
  margin-top:25px;
  flex-shrink:0;
}

.social-icons {
  display: flex;
  gap: 15px;
}

.icon {
  color: #33FF33; /* Terminal green color */
  font-size: 24px; /* Adjust size as needed */
  transition: color 0.3s;
}
.footertext {
text-align:right;
font-size:small;
}

.icon:hover {

    color: #4CAF50; /* Slightly lighter green for hover effect */
  
}
