/* Font face declaration for MongoLabsF */
@font-face {
  font-family: 'MongoLabsF';
  src: url('../assets/mongolabsfont.otf');
}

/* Main footer styling */
.footer {
  display: flex;   /* Use flexbox for layout */
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: black;
  color: #33FF33;  /* Terminal green color */
  font-family: 'Consolas', 'Courier New', Courier, monospace; /* Terminal-like font as a fallback */
  z-index: 99;
  margin-top: 25px;
  flex-shrink: 0;
}

/* Styling for social media icons container */
.social-icons {
  display: flex;
  gap: 15px;
}

/* Icon specific styling */
.icon {
  color: #33FF33;  /* Terminal green color */
  font-size: 24px;
  transition: color 0.3s;
}

/* Icon hover effect */
.icon:hover {
  color: #4CAF50;  /* Slightly lighter green for hover effect */
}

/* Copyright text styling */
.footertext {
  text-align: right;
  font-size: small;
}
