.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333; /* Dark gray for a terminal feel */
  padding: 10px 40px;
  width:100vh;
  font-family: 'Fira Code', monospace; /* Terminal-like font */
}
/* Add this to your Navbar.css */

.fade-enter {
  opacity: 0.01;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit.fade-exit-active {
  opacity: 0.01;
  transition: opacity 500ms ease-in;
}

.navbar-logo {
  font-size: 24px;
  color: #00FF00; /* Classic green color */
}

.navbar-links a {
  margin-left: 20px;
  color: #00FF00; /* Classic green color */
  text-decoration: none;
  transition: color 0.3s;
}

.navbar-links a:hover {
  color: #4CAF50; /* Slightly lighter green for hover effect */
}