.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000000; /* Dark gray for a terminal feel */
  padding: 10px 40px;
  width: 100%;
  z-index:99;
}

.fade-enter {
  opacity: 0.01;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.fade-exit {
  opacity: 1;
}
.burger-menu > div {
  height: 3px;
  background: #00FF00; /* the same green color as navbar links */
  width: 25px;
  
}
.menu-section {
  display: flex;
  
  justify-content: flex-end;
  width: 100%;
}

.burger-menu {
  display: flex;
  flex-direction: column;
  
  gap: 4px; /* gives space between the lines of the burger */
  cursor: pointer;
}
.fade-exit.fade-exit-active {
  opacity: 0.01;
  transition: opacity 500ms ease-in;
}

.navbar-logo {
  font-size: 24px;
  color: #00FF00; /* Classic green color */
}
@keyframes borderFlow {
  0% {
    background-position: -100% 0;
  }
  100% {
    background-position: 200% 0;
  }
}


.navbar, .footer {
    width: 100%;
    box-sizing: border-box; 
    position: sticky;
    
    padding: 20px 40px!important;
    position: relative; /* Required for positioning the pseudo-elements */
}

.navbar::before, .navbar::after, .footer::before, .footer::after {
    content: "";
    display: block;
    height: 1px;
    width: 100%;
    background: linear-gradient(90deg, transparent, blue, green, blue, transparent);
    background-size: 200% 100%;
    animation: borderFlow 3s linear infinite;
    position: absolute;
    left: 0;
}

.navbar::before, .footer::before {
    top: 0; /* Position at the top for the "top border" */
}

.navbar::after, .footer::after {
    bottom: 0; /* Position at the bottom for the "bottom border" */
}
.navbar-links a {
  margin-left: 20px;
  color: #00FF00; /* Classic green color */
  margin-top:0.5rem;
  margin-bottom:0.5rem;
  text-decoration: none;
  transition: color 0.3s, background-color 0.3s, border-color 0.3s; /* added transition for background and border */
  border: 1px solid #00FF00; /* Button border */
  padding: 8px 15px; /* Button padding to make it more like a button */
  border-radius: 10px; /* Slight roundness to the border */
  background-color: transparent; /* Initial background color */
}

.navbar-links a:hover {
  color: #4CAF50; /* Slightly lighter green for hover effect */
  background-color: #081212; /* Darker background for hover effect */
  border-color: #4CAF50; /* Lighter border color on hover */
}
@media (max-width: 768px) {
  .navbar {
      flex-direction: column;
      padding: 10px;
  }
  .navbar-links {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: rgba(0,0,0,0.9);
    z-index: 100;
    display: flex; /* Always displayed, but hidden with opacity and transform */
    padding: 10px;
    flex-direction: column;
    transform: translateY(-100%);
    opacity: 0; /* Hidden by default */
    pointer-events: none; /* Ensure it doesn't interfere with other elements when hidden */
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out; /* Added opacity to transitions */
}

.navbar-links.open {
    transform: translateY(0);
    opacity: 1; /* Fully visible when open */
    pointer-events: all; /* Interactions enabled when visible */
    box-shadow: 0 0 15px 5px #00FF00;
}

  .navbar-links a {
      margin-left: 0;
      margin-top: 10px;
      text-align: center;
  }
}



@media (min-width: 769px) {
  .burger-menu, .navbar-links {
      display: none;
  }

  .navbar {
      flex-direction: row;
  }

  .navbar-links {
      position: static;
      background: none;
      display: flex;
      flex-direction: row;
  }

  .navbar-links a {
      margin: 0 10px;
  }
}